services:
  web:
    build: .
    image: counter-app:1.0
    ports:
      - "${WEB_PORT}:${APP_PORT}"
    depends_on:
      - db-service
    networks:
      - app-network
    environment:
      - REDIS_HOST=db-service
      - REDIS_PORT=${REDIS_PORT}

  db-service:
    image: redis:7-alpine
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    networks:
      - app-network

volumes:
  redis-data:

networks:
  app-network:
    driver: bridge
